.navbar-brand {
    font-size: 300%;
}

header {
    background-color: #ffda6a;
    border-bottom: 2px solid #ffcd39;
}

code {
    color: var(--bs-orange) !important;
}

a,
a:visited,
a:active {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

body {
    background-color: var(--bs-gray-200);
}

pre.highlight {
    background-color: var(--bs-gray-800);
    padding: 0.5rem;
}

.card {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--bs-gray-400);
}

.card-header {
    font-size: 200%;
    background-color: transparent;
    border: none;
}

.card-body {
    background-color: transparent;
}

.card-body img {
    max-width: 100%;
}

.card-subsection {
    padding-left: 2rem;
}

.card-footer {
    background-color: transparent;
}

.cardAbout > div.card-header {
    color: #212529;
}

.cardOpenSource > div.card-header {
    color: #0a58ca;
}

.cardPnP > div.card-header {
    color: #fd7e14;
}

.cardGarden > div.card-header {
    color: #146c43;
}

.cardGardenOverview {
    background-color: white;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.cardGardenPost {
    border-bottom: none;
}
