.navbar-brand {
    font-size: 200%;
}

/* light theme */
[data-bs-theme="light"] header {
    background-color: var(--bs-gray-300);
}

/* dark theme */
[data-bs-theme="dark"] header,
[data-bs-theme="dark"] .card-header {
    background-color: #000000;
}

[data-bs-theme="dark"] a,
[data-bs-theme="dark"] a:visited,
[data-bs-theme="dark"] a:hover,
[data-bs-theme="dark"] a:active {
    color: #aaa;
}

[data-bs-theme="dark"] a:hover {
    color: white;
    text-decoration: none;
}

.card-body img {
    max-width: 100%;
}

code {
    color: var(--bs-orange) !important;
}

pre.highlight {
    background-color: var(--bs-gray-800);
    padding: 0.5rem;
}
