<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom.css"/>
  </head>
  <body>
    <header class="navbar navbar-expand-lg sticky-top">
      <nav class="container-xl">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="bi-person-circle me-4"></span>Jürgen Mang</a>
      </nav>
    </header>
    <main class="container-xl mt-3">
      {{ content }}
    </main>
  </body>
</html>
